.float-left {
    float: left;
}
.float-right {
    float: right;
}

.name-header {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
}
.image-picture {
    width: 130px;
    height: 150px;
    border-radius: 10px;
}
.table-pdf{
    border: 0px;
    width: 100%;
    
}
td{
    height: 35px;
    letter-spacing: 1px;
}
th{
    height: 45px;
    letter-spacing: 1px;
}