.alert2-secondary2 {
    background-color: rgb(249, 249, 249);
}

.alert-white-4 {
    height: 50px;
    width: 100%;
    position: sticky;
    top: 80px;
    background-color: white;
    z-index: 1001;
    border-radius: 6px;
    padding: 6px 5px;
    border-bottom: 4px solid #D9D9D9;
}


.alert-light-4 {
    background-color: rgb(249, 249, 249);
}

.key1 {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.image-grid {
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

.Flag-Turkey {
    border-radius: 30px;
    height: 15px;
    width: 15px;
}

#progress1 {
    display: flex;
    justify-content: space-around;

}

.progress-pim-table {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 0;
    padding: 2px;
    animation: .4s ease-out reverse;

}

.progress-pim-table::after {
    content: attr(data-value);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    margin-left: -2px;
    border-radius: 100%;
    background: white;
    font-size: 8px;
    text-align: center;
    color: #000000;
    font-weight: 400;
}

.progress-item2 {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0;

}

.progress-item2::after {
    content: attr(data-value2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    margin: 2px;
    border-radius: 50%;
    background: white;
    font-size: 10px;
    text-align: center;
}

.progress-item3 {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0;

}

.progress-item3::after {
    content: attr(data-value3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    margin: 2px;
    border-radius: 50%;
    background: white;
    font-size: 10px;
    text-align: center;
}

.cycle-current-department {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid var(--Blocked-Strock, #CBD5E1);
    background: var(--Overall-Blocked, #E74C3C);
    position: relative;
}

.cycle-current-department:not(:last-child) {
    margin-left: -16px;
}

.cycle-current-branch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    font-size: 14px;
    border-radius: 100%;
    border: 1px solid var(--Blocked-Strock, #CBD5E1);
    background: var(--Overall-Blocked, #FED75A);
    position: relative;
}

.cycle-current-branch:not(:last-child) {
    margin-left: -16px;
}

.cycle-current-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid var(--Blocked-Strock, #CBD5E1);
    background: var(--Overall-Blocked, #16A085);
    position: relative;
    /* z-index: 1; */
}


.cycle-current-team:not(:last-child) {
    margin-left: -16px;
}

.cycle-current-branch img,
.cycle-current-department img,
.cycle-current-department img {
    width: 18px;
    height: 18px;
}

#visible0 {
    font-size: 12px;
}

.content-navitem {
    margin-left: 40%;
}

.dropdown-menu {
    --bs-dropdown-min-width: 0rem;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #e1e1e1;
}

.new-light-4 a:hover {
    background: rgb(255, 255, 255);
    color: #5CAEF9;
}

.btn-light-3 {
    background-color: rgb(255, 255, 255);
}

.presentation-end {
    /* margin-left: 190px; */
    position: absolute;
    right: 0;
}

.over-blue {
    border-left: 7px solid #5CAEF9;
    border-radius: 5px 0px 0px 5px;
}

.over-yellow {
    border-left: 7px solid #FFDC61;
    border-radius: 5px 0px 0px 5px;
}

.border-bottom-white {
    border-bottom: 3px solid white;
    font-size: 12px;
}

.border-bottom-white2 {
    border-bottom: 3px solid white;
    font-size: 10px;
}

.image-Avatar1 {
    width: 2rem;
    height: 2rem;
}

.bg-secondary-bsc {
    background-color: rgb(144 152 159);
    color: #ffffff;
    font-size: 11px;
}

.bg-secondary-bsc1 {
    background-color: rgb(216, 216, 216);
    color: #000000;
    font-size: 11px;
}

.avatar img {
    border-radius: 50%;
    position: relative;
    margin-left: -25px;
    z-index: 1;
}

.avatars {
    direction: ltr;
    text-align: right;
    padding-left: 25px;
}

.navigation-next {
    padding-left: 450px;
}

.page-navigation {
    color: #000000;
}

.on-cursor {
    cursor: pointer;
    font-size: 15px;
}

.comment-td {
    width: 13px;
    cursor: pointer;
}

.comment-td-dropdown {
    width: 15px;
    cursor: pointer;
    margin-left: -20px;
    margin-top: -5px;
}

.history-box {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.kfi-grid-1 {
    width: clamp(250px, 17.36vw, 900px);
}

.kfi-grid-2 {
    width: clamp(100px, 5.2vw, 300px);
}


@media(max-width: 992px) {
    .pd-Performance {
        padding-left: 10px;
    }

    .New-date {
        padding-top: 20px;
    }

    .New-KFI {
        padding-top: 20px;
    }
}

@media (max-width: 768px) {
    .tb-width5 {
        width: 20rem;
    }

    .content-navitem {
        margin-left: 70px;
    }

    .pd-Performance {
        padding-left: 10px;
    }

    .New-KFI {
        padding-top: 20px;
    }

    .New-date {
        padding-top: 20px;
    }

    .key1 {
        font-size: 16px;
    }

    .new-light-4 {
        text-align: end;
    }
}