.btn-Create-fy {
    font-size: 12px;
    background-color: #3274cb;
}

.btn-dashboard-fy {
    font-size: 12px;
    background-color: #dadada;
}

.FY_CreateBig {
    width: 15px;
}

.fy_select {
    font-size: 12px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    font-weight: 600;
}

.FY_country {
    width: 12px;
    height: 12px;
    border-radius: 50px;
}

.tb-fy-financial {
    text-transform: uppercase;
    font-size: 10px;
}

.table_fyfinancial {
    background-color: #e4e4e4;
}

.country_company {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.plush_crt {
    width: 25px;
    cursor: pointer;
    /* margin-top: -45px;
    margin-left: 720px; */
}

.months_fy_countrys {
    font-size: 16px;
    text-transform: uppercase;
    color: #aac9e3;
}

.months_fy_countrys_number {
    font-size: 18px;
    line-height: 3px;
    color: #aac9e3;
}