.imageslogoMaskTCF {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.images-number2 {
    width: 20px;
    margin-left: 20px;
}

.card-accordion {
    background-color: white;
    border: none;
    border-radius: 4px;
}

.container-accordion {
    max-width: 100%;
}

.accordion {
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    text-align: left;
    /* margin-top: -60px; */
    /* padding: 15px 20px; */
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.accordion:after {
    font-family: FontAwesome;
    content: "\f106";
    border: 1px black solid;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 1px;
    width: 30px;
    height: 30px;
    font-family: "fontawesome";
    font-size: 18px;
    float: right;
}

.accordion.is-open:after {
    content: "\f107";
}

.accordion:hover,
.accordion.is-open {
    background-color: white;
}

.accordion-content {
    background-color: white;
    /* border-left: 1px solid whitesmoke; */
    /* border-right: 1px solid whitesmoke; */
    padding: 0 20px;
    max-height: 0;
    font-size: 13px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.accordion-rank1 {
    width: 20px;
}

.bg-sprank1 {
    background-color: #D5E5ED;
}

.Manager {
    font-weight: 700;
    font-size: 16px;
}

.bg-primary-MM {
    background-color: #308FFF;
}

.accordion-3Dot {
    width: 15px;
    margin-top: -6px;
}

.accordion-dot {
    width: 15px;
    text-align: right;
}

.B {
    font-weight: 600;
    font-size: 17px;
}

.accordion-Included {
    font-size: 9px;
    color: #7E7E7E;
    margin-left: 45px;
    padding-top: 5px;
}

.accordion-C9E5FF {
    border-color: #C9E5FF;
    font-size: 11px;
    border-radius: 30px;
    text-align: center;
    margin-left: 10px;
}

.Minimum {
    font-size: 10px;
    font-weight: 600;
}

.accordion-minimum-solid {
    border-bottom: 1px #000000 dashed;
    position: absolute;
    height: 0px;
    width: 300px;
    margin-top: 40px;
}

.accordion-D6FFDF {
    background-color: #D6FFDF;
    border-radius: 20px;
    border-color: #32BD1B;
    margin-top: 24px;
    font-size: 11px;
}

.accordion-UP {
    width: 6px;
}