.Save-2 {
    width: 12px;
    margin-top: -5px;
}

.widthSave-3 {
    width: 12px;
}

.Select-add {
    font-size: 11px;
}

.Participants_border {
    background-color: #F4F6F9;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.inlineDepartment1 {
    font-size: 11px;
}

.controlcheckboxSelect {
    font-size: 12px;
    margin-top: 20px;
    padding-left: 3px;
}

.pictureRank-1 {
    width: 16px;
    margin-top: -3px;
}

.allocate-user {
    width: 13px;
    border-radius: 50px;
    height: 13px;
}

.label-username {
    font-size: 10px;
}

.all-allocateuser {
    padding-left: 23px;
    margin-top: 8px;
    font-size: 12px;
}

.PIM-allocate {
    font-size: 13px;
    margin-top: 20px;
    font-weight: 500;
    color: #175690;
}

.ADD-plus1-allocate {
    background-color: #2580D3;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.Edit-plus1-allocate {
    background-color: #F2AFAF;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    font-size: 12px;
    color: white;
}

.typenumber {
    font-size: 9px;
}

.AddParticipant {
    font-size: 10px;
}

.add-minus-circle {
    color: #D84C4C;
    font-size: 11px;
    cursor: pointer;
}

.WeightConfigurationName {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.put_title {
    border-radius: 3px;
    background-color: #32a1ce;
    width: 12px;
    height: 13px;
}

.add_allocate_gray {
    background-color: #F4F6F9;
    border-radius: 5px;
    margin-top: 10px;
    width: 60px;
    height: 580px;
}

.add_allocate1 {
    background-color: #F4F6F9;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 580px;
}