.Save-2 {
    width: 12px;
    margin-top: -5px;
}

.widthSave-3 {
    width: 12px;
}

.Select-add {
    font-size: 11px;
}

.Participants_border {
    background-color: #F4F6F9;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.inlineDepartment1 {
    font-size: 11px;
}

.controlcheckboxSelect {
    font-size: 12px;
    margin-top: 20px;
    padding-left: 3px;
}

.pictureRank-1 {
    width: 15px;
}

.allocate-user {
    width: 14px;
}

.label-username {
    font-size: 11px;
}

.all-allocateuser {
    padding-left: 10px;
    margin-top: 5px;
    font-size: 12px;
}

.PIM-allocate {
    font-size: 13px;
    margin-top: 20px;
    font-weight: 500;
    color: #175690;
}

.ADD-plus1-allocate {
    background-color: #2580D3;
    width: 3rem;
    border-radius: 4px;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.Edit-plus1-allocate {
    background-color: #F2AFAF;
    width: 3rem;
    border-radius: 4px;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.typenumber {
    font-size: 9px;
}

.AddParticipant {
    font-size: 10px;
}

.add-minus-circle {
    color: #D84C4C;
    font-size: 13px;
    cursor: pointer;
}

.WeightConfigurationName {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.put_title {
    /* border: thick solid #32a1ce; */
    background-color: #32a1ce;
    width: 14px;
    height: 14px;
    border-radius: 3px;
}