.alert-FramDashboard {
    background-color: rgb(255, 255, 255);
}

.Dasdboard-start {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.SpringEvaluation {
    border-left: 2px lightgray solid;
}

.imagesmon {
    width: 60px;
}

.alert-dashboard {
    background-color: rgb(255, 255, 255);
}

.imagesLight-calendar {
    width: 15px;
}

.formstart {
    font-size: 13px;
}

.imagesiconsDarkGolden {
    width: 20px;
    /* border-right: 2px lightgray solid; */
}