.alert-FramDashboard {
    background-color: rgb(255, 255, 255);
}

.Dasdboard-start {
    font-size: 19px;
    font-weight: 600;
    font-family: 'sf pro display';
    letter-spacing: -0.8px;
    color: black;
}

.YourChoose {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.8px;
}

.SpringEvaluation {
    border-left: 2px lightgray solid;
}

.imagesmon {
    width: 50px;
}

.alert-dashboard {
    background-color: rgb(255, 255, 255);
}

.imagesLight-calendar {
    width: 15px;
}

.formstart {
    font-size: 13px;
}

.imagesiconsDarkGolden {
    width: 20px;
}

.solidAllSet {
    border-left: 2px lightgray solid;
}

.successredius {
    border-radius: 30px;
    background-color: #EEFFE9;
    color: #18b818;
    font-weight: 400;
    width: 120px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 13px;
    height: 40px;
}

.dashedSpring {
    border-bottom: 1px #509CE3 dashed;
    position: relative;
    width: 750px;
}

.E1 {
    background-color: #4294FF;
    border: none;
    font-weight: 600;
}

.rowTearmduration {
    font-weight: 500;
    font-size: 10px;
}

.Startsettingsolid {
    border-right: 2px lightgray solid;
}

.Startsettingsolid-left {
    border-left: 2px lightgray solid;
}

.settingDays {
    font-size: 10px;
}

.rowBonus {
    border-left: 2px lightgray solid;
    font-size: 10px;
    font-weight: 500;
    margin-left: 30px;
}

.rowcardBonus {
    background-color: #F4F6F9;
    border: none;
}

.ApllySubmit {
    background-color: #B8E4FF;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    color: #1F5594;
    font-weight: 600;
}

.ApllyGraySubmit {
    background-color: #D8D8D8;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    color: black;
    font-weight: 600;
}

.RadioYes {
    border-radius: 20px;
    border: #4294FF;
}

.rowAvailable {
    padding-left: 20px;
    font-size: 14px;
}

.liEvaluation {
    font-size: 13px;
    color: #8F8F8F;
}

.checkgreenbox {
    color: #8F8F8F;
}

.liEvaluation:hover {
    color: #3E87CD;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #F4F6F9;
    cursor: pointer;
}

.checkgreenbox:hover {
    color: #18b818;
}

.on-p {
    padding-left: 20px;
}

.form-check-input-greenSet:checked {
    background-color: #30b14f;
    border-color: #71d55b;
    border-radius: 50%;
}

.form-check-input[value=checkAllSet] {
    border-radius: 50%;
    font-size: 14px;
    margin-left: -5px;
    margin-top: -2px;
}

.form-check-input-labelblack1:checked {
    background-color: black;
    border-radius: 50%;
    font-size: 14px;
}

.form-check-input[value=labelblack1] {
    border-radius: 50%;
    font-size: 14px;
    margin-top: 7px;
}

.form-check-input-labelblack1:checked {
    background-color: black;
    border-radius: 50%;
}

.imagesArrowRight {
    width: 25px;
    margin-left: 7px;
}

.bg-clder {
    background-color: #D7EBFF;
}

.iconsarrowss {
    width: 20px;
}

.trantYellowColor {
    border-radius: 6px;
    font-size: 11px;
    color: black;
    background-color: #F4F6F9;
    border-left: 6px #FFDB1F solid;
}

.cenler-arrows {
    width: 15px;
    cursor: pointer;
}

.CreateSmallicons {
    width: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.btn-bgE1 {
    background-color: #D1E5F9;
    color: #4294FF;
    font-weight: 600;
    /* position: relative; */
    margin-left: 110px;
}

.Start-Date {
    font-size: 11px;
    color: #509CE3;
    font-weight: 600;
    padding-top: 5px;
}

.form-check-input-yellowPending {
    background-color: #FFFDE9;
    border-color: #FFCC00;
    border-radius: 50%;
}

.yellowdius {
    border-radius: 30px;
    background-color: #FFFDE9;
    color: #FFCC00;
    font-weight: 400;
    width: 120px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 13px;
    height: 40px;
}

.imagesLightSelectFromCheckboxs-2 {
    background-color: #FFCC00;
    border-radius: 50%;
    width: 15px;
}


.Dashboardblue1 {
    background-color: #E7E7E7;
    font-size: 13px;
    color: #4294FF;
}

.ontop {
    margin-top: -20px;
}

.bottomon {
    margin-top: -20px;
    z-index: 3;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 0%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 0%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    color: #4294FF;
    font-weight: 500;
    margin-bottom: 6px;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: #D1E5F9;
    border-radius: 5px;
    font-size: 12px;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #509CE3;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}