.individual_step1 {
    background-color: white;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 170px;
}

.individual_step2 {
    background-color: white;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 170px;
}

.individual_userlogin {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 15px;
}

.Individual_step2_name {
    font-size: 13px;
    font-weight: 600;
    padding-top: 8px;
    color: black;
}

.Individual_step3_company {
    font-size: 12px;
    line-height: 10px;
    font-weight: 400;
    padding-top: 5px;
    color: black;
}

.individual_step3_hraf {
    background-color: white;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 170px;
}

.Individual_step4_country {
    font-size: 11px;
    font-weight: 500;
    color: black;
    padding-top: 5px;
}

.imageIndividual_country1 {
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

.individual_stepkey {
    font-size: 16px;
    color: #004DB0;
    font-weight: 700;
}

.individual_stepkey_number {
    font-size: 13px;
    line-height: 10px;
    color: #004DB0;
    font-weight: 500;
}

.performance_individual {
    font-size: 15px;
    font-weight: 600;
}

.individual_stepcompleted {
    color: #11C844;
    font-size: 13px;
    text-align: end;
}

.imageindividual_Charts {
    width: 12px;
}

.individual_Financial {
    font-size: 10px;
    letter-spacing: -0.5px;
}

.individual_solidkey {
    border-right: 2px lightgray solid;
}


div[role="progressbar_step_warning"] {
    --fg: #FEC426;
    --bg: #FFE9AE;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-size: 10px;
}

div[role="progressbar_step_warning"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

div[role="progressbar_step_Blue"] {
    --fg: #2580D3;
    --bg: #D0E2FF;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-size: 10px;
}

div[role="progressbar_step_Blue"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

div[role="progressbar_step_danger"] {
    --fg: #FF6939;
    --bg: #FFC3AF;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-size: 10px;
}

div[role="progressbar_step_danger"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

.individual_weight {
    font-weight: 700;
    font-size: 18px;
}

.imagesstep_userlog {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.individual_primary {
    font-size: 13px;
    letter-spacing: -0.8px;
    font-weight: 500;
    padding-top: 10px;
}

.trants_individual_firstname {
    font-size: 12px;
    color: #006AA6;
    font-weight: 500;
}

.My_panel {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.6px;
}

.Panel-radio {
    font-size: 12px;
}

.individual_Mypanel {
    background-color: #ecf0f6;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.on_procressing {
    width: 8px;
    height: 8px;
    background-color: #FEC426;
    border-radius: 50px;
}

.font-onorange {
    font-size: 9px;
}

.imagesEllipse {
    width: 8px;
}

.completed_textgreen {
    color: #06B217;
    font-size: 11px;
}

.tb_mypanel {
    border-radius: 5px;
    background-color: white;
    border-left: 6px #FFA620 solid;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.tb_mypanel_blue {
    border-radius: 5px;
    background-color: white;
    border-left: 6px #5CAEF9 solid;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.tb_mypanel_none {
    border-radius: 5px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.sendcompleted1 {
    width: 22px;
    padding-top: 15px;
    margin-left: -10px;
}

.sendcompleted2 {
    width: 22px;
    padding-top: 15px;
}

.tb_mypanel_e4 {
    background-color: #D1E5F9;
    border-radius: 3px;
    color: #004DB0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 3px;
    margin-top: 5px;
    width: 35px;
}

.btn_My_panel_New {
    font-size: 11px;
    background-color: #33aff7;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    margin-top: 14px;
    margin-left: -9px;
    padding-bottom: 2px;
}

.E41_weight {
    font-weight: 700;
    font-size: 13px;
    color: #004DB0;
    text-align: center;
}

.E42_weight {
    font-size: 12px;
    color: #004DB0;
    text-align: center;
}

.mouse1 {
    width: 30px;
}

.IMG {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-top: 7px;
}

.name_social {
    font-size: 12px;
    font-weight: 700;
}

.position_name {
    font-size: 10px;
    font-weight: 500;
}

.spring {
    padding-top: 10px;
    font-size: 11px;
    font-weight: 500;
}

.fontSeeAll {
    color: #2580D3;
    font-size: 14px;
}