.set-Promotion {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    font-weight: 500;
    margin-top: 20px;
}

.promotion-save {
    width: 11px;
}

.setpromotiontitle {
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    margin-top: 20px;
}

.PromotionAdd-Layer {
    width: 13px;
    color: gray;
    margin-left: 15px;
}

.Promotion-Contents {
    font-weight: 500;
    font-size: 12px;
}

.PromotionSolid {
    border-left: 1px lightgray solid;
    padding-top: 10px
}

.input-promotion-checkbox1 {
    font-size: 10px;
    margin-left: 10px;
    padding-top: 10px;
}

.bg-conditionSet {
    border-radius: 3px;
    font-weight: 400;
    font-size: 11px;
    color: black;
    background-color: #A0DDC7;
}

.bg-conditionSetdanger {
    border-radius: 3px;
    font-size: 11px;
    color: black;
    font-weight: 400;
    background-color: #E8A69D;
}

.Promotion-Edit {
    cursor: pointer;
    color: gray;
    font-size: 13px;
}

.borderprotiongry {
    border: 0.5px #F0F2F4 solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.Promotiontrash-danger {
    cursor: pointer;
    color: #f87e7e;
    font-size: 13px;
}

.Evaluator-SetContents {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.8px;
}

.bg-blue {
    background-color: #98C5EE;
    color: black;
    font-weight: 400;
    border-radius: 4px;
    letter-spacing: -0.8px;
    font-size: 8px;
}

.p1solid {
    border-right: 1px rgb(221, 221, 221) solid;
    height: 30rem;
}

.Pro-p1 {
    font-size: 12px;
}

.positionp1 {
    margin-top: -440px;
}

.bg-ht {
    background-color: #D7E7F6;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.TOTAL-WEIGHT {
    font-size: 6px;
}

.images-bonuesave0 {
    width: 10px;
}

.BGPromotion {
    background-color: #F0F2F4;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.BGPhase {
    background-color: #F9FBFF;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 30rem;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.font-Blu {
    color: #3266CD;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
}

.PROMO-SET {
    background-color: #F0F2F4;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.setpromotion-light {
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.promotioncolortitle {
    border: 2px #32a1ce solid thin;
    background-color: #32a1ce;
    border-radius: 5px;
    height: 15px;
    width: 15px;
}

.fnt-promotiontitle {
    font-size: 8px;
}

.promotionMM {
    font-size: 8px;
}

.promotionbox-manager {
    font-size: 10px;
}

.font-FFFsave {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;
}

.Set-Contents-Promotion {
    font-size: 10px;
    font-weight: 500;
}

.Weighttxtprimary {
    background-color: #98C5EE;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 9px;
}

.balrt-promotioncontents {
    background-color: #F0F2F4;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wdranks {
    width: 13px;
}