.Createsmall {
    width: 20px;
    cursor: pointer;
}

.adRank {
    font-size: 14px;
}

.trantRank {
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: 500;
    font-size: 11px;
    color: black;
    background-color: #F4F6F9;
}

.trantRankColor {
    border-radius: 6px;
    font-size: 11px;
    color: black;
    background-color: #F4F6F9;
    border-left: 6px #5CAEF9 solid;
}

.trantRow {
    border-radius: 6px;
    background-color: #F4F6F9;
}

.ScoreSolid {
    border-left: 2px lightgray solid;
}

.progressRank {
    margin-top: 5px;
    padding: 0;
    width: 90%;
    height: 10px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
}

.barent {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    border: 10px;
    background: #1862e8;
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 14px;
    font-weight: 500;
    color: white;
    /* border: 5px #7aa3ed solid;
    height: 50px; */
}

.DeleteRound {
    width: 20px;
}