.accordion-rank1-edit {
    width: 14px;
}

.accounts-edit1 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
}

.pictureDepartment-salary-edit {
    width: 23px;
    background-color: #308FFF;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.alert-F6F6F66 {
    background-color: #F6F6F6;
}

.edit-Range {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

.score-salaryedit {
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 60px;
    margin-top: 90px;
    font-weight: 500;
}

.Increment-salaryedit {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-top: 50px;
    width: 15rem;
}

.header-salaryedit {
    background-color: #87CDFF;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    width: 3.3rem;
}

.number-salaryedit {
    font-size: 12px;
    width: 3.4rem;
    border-radius: 3px;
    font-weight: 500;
    margin-top: -10px;
}

.number-salaryedit2 {
    font-size: 12px;
    width: 3.4rem;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
}

.set-mrg-salaryedit1 {
    margin-top: 50px;
}

.set-mrg-salaryedit2 {
    margin-top: 25px;
    margin-left: 110px;
}

.set-mrg-salaryedit3 {
    margin-top: 25px;
    margin-left: 110px;
}

.linesalaryEdit1 {
    width: 11px;
    height: 0;
    border: 0.9px solid #c4c4c4;
    display: inline-block;
}

.linesalaryEdit2 {
    width: 11px;
    height: 0;
    border: 0.9px solid #c4c4c4;
    display: inline-block;
}

.images-linesalaryEdit1 {
    cursor: pointer;
    width: 15px;
    margin-top: 4px;
}

.width-lineblock {
    width: 3rem;
}

.font-308FFF {
    font-size: 11px;
    background-color: #308FFF;
    border: none;
}

.roundedborderedit {
    border-color: #C9E5FF;
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    background-color: white;
}

.Minimum-0 {
    font-size: 13px;
}

.text-308FFF {
    color: #308FFF;
    font-weight: 500;
}

.salaryedit-Allminimumsolid {
    border-bottom: 1px #000000 dashed;
    position: absolute;
    height: 40px;
    width: 35rem;
    margin-left: 50px;
    margin-top: 4px;
}

.imagesU-turn {
    width: 40px;
    margin-left: 40px;
}

.imagesU-turn2 {
    width: 40px;
    margin-left: -50px;
}

.clsddMinimum {
    margin-top: 55px;
    margin-left: -90px;
}

.formsMinimum {
    font-size: 13px;
    margin-top: 45px;
    margin-left: -20px;
}

.classMax {
    margin-top: 55px;
    margin-left: -20px;
}

.classmarginminimum {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 13px;
}

.images-wornningblue {
    width: 18px;
}

.Sample-worrning {
    margin-top: -100px;
    margin-left: 620px;
}