.FrameSalaryAllowance {
    font-size: 16px;
    font-weight: 700;
}

.pictureFilterFull {
    width: 13px;
}

.pictureDepartment1 {
    width: 20px;
}

.cl-btn {
    font-size: 12px;
}

.b1 {
    font-size: 12px;
    border-radius: 15px;
    background-color: #F0F2F4;
}

.b2solid {
    border-left: 2px lightgray solid;
}

.b3 {
    width: 105px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #F0F2F4;
}

.pictureCurrency3 {
    width: 15px;
}

.b4 {
    background-color: #F9FBFF;
    border: none;
    border-radius: 6px;
}

.b4weight {
    font-weight: 700;
    font-size: 14px;
    color: #3266CD;
}

.b4E3 {
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 600;
}

.bg-headerBudget {
    background-color: #DCF0FF;
    font-size: 10px;
    color: black;
}

.bg-titleBudget {
    background-color: #F9FBFF;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.pictureEdit {
    width: 12px;
    cursor: pointer;
}

.b4solid {
    border-right: 2px lightgray solid;
}

.pictureDepartment-salary {
    width: 18px;
    background-color: #308FFF;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.salary-Participating {
    font-size: 10px;
    padding-top: 8px;
    width: 150px;
    color: #7E7E7E;
    letter-spacing: -1px;
    margin-left: -28px;
}

.linkAccounts {
    letter-spacing: -1px;
    font-size: 11px;
    font-weight: 500;
}

.bordertry-li1 {
    margin-left: -60px;
}

.pictureAchievement-salary {
    width: 10px;
}

.alert-Achievement1 {
    background-color: white;
    border-color: #308FFF;
}

.Achievement1 {
    font-size: 8px;
    font-weight: 500;
    color: black;
}

.Achievement1-number1 {
    font-size: 10px;
    font-weight: 600;
    color: black;
}

.picturebudget {
    width: 15px;
}

.budget1 {
    font-size: 8px;
    font-weight: 500;
}

.UpdownSelected {
    margin-left: 10px;
    width: 18px;
    margin-top: 15px;
}

.alert-D6E6FF {
    background-color: #D6E6FF;
    border-color: #64B3FC;
    width: 120px;

}

.printer {
    font-size: 8px;
    font-weight: 600;
    cursor: pointer;
}

.printerpointer {
    width: 15px;
    margin-top: -5px;
}