.bg-Salary-edit {
    background-color: #F4F6F9;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.accordion-rank1-edit {
    width: 12px;
}

.accounts-edit1 {
    font-size: 14px;
    font-weight: 500;
}

.pictureDepartment-salary-edit {
    width: 20px;
    background-color: #308FFF;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.alert-F6F6F66 {
    background-color: #F6F6F6;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.edit-Range {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #4B4B4B;
}

.score-salaryedit {
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 60px;
    padding-top: 90px;
    font-weight: 500;
}

.Increment-salaryedit {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    margin-top: 40px;
}

.header-salaryedit {
    background-color: #87CDFF;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    width: 3rem;
}

.number-salaryedit {
    font-size: 10px;
    width: 3rem;
    border-radius: 3px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: -10px;
}

.number-salaryedit2 {
    font-size: 11px;
    width: 3rem;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.set-mrg-salaryedit1 {
    margin-top: 50px;
}

.set-mrg-salaryedit2 {
    margin-top: 25px;
    margin-left: 110px;
}

.set-mrg-salaryedit3 {
    margin-top: 25px;
    margin-left: 110px;
}

.linesalaryEdit1 {
    width: 11px;
    height: 0;
    border: 0.9px solid #c4c4c4;
    display: inline-block;
}

.linesalaryEdit2 {
    width: 11px;
    height: 0;
    border: 0.9px solid #c4c4c4;
    display: inline-block;
}

.images-linesalaryEdit1 {
    cursor: pointer;
    width: 15px;
    margin-top: 4px;
}

.width-lineblock {
    width: 3rem;
}

.font-308FFF {
    font-size: 11px;
    background-color: #308FFF;
    border: none;
}

.roundedborderedit {
    border-color: #C9E5FF;
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    background-color: white;
}

.Minimum-0 {
    font-size: 13px;
}

.text-308FFF {
    color: #308FFF;
    font-weight: 500;
}

.salaryedit-Allminimumsolid {
    border-bottom: 1px #000000 dashed;
    position: absolute;
    height: 40px;
    width: 30rem;
    margin-left: 50px;
    margin-top: 4px;
}

.imagesU-turn {
    width: 40px;
    margin-left: 40px;
}

.imagesU-turn2 {
    width: 40px;
    margin-left: -50px;
}

.clsddMinimum {
    margin-top: 55px;
    margin-left: -90px;
}

.formsMinimum {
    font-size: 13px;
    margin-top: 45px;
    margin-left: -20px;
}

.classMax {
    margin-top: 55px;
    margin-left: -20px;
}

.classmarginminimum {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 13px;
}

.images-wornningblue {
    width: 10px;
}

.Sample-worrning {
    text-align: end;
    padding-top: 25px;
    font-size: 12px;
}

@media(max-width :768px) {
    .FrameSalaryAllowance {
        font-size: 14px;
    }

    .salaryedit-Allminimumsolid {
        width: 17rem;
        margin-top: -5px;
    }

    .alert-F6F6F66 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .roundedborderedit {
        font-size: 10px;
    }

    .Minimum-0 {
        font-size: 10px;
        width: 20rem;
    }

    .text-308FFF {
        font-size: 10px;
    }

    .imagesU-turn {
        margin-top: -35px;
    }

}