.pencil-edit {
    margin-top: -70px;
}

.edit-numbermonth {
    font-size: 9px;
    width: 3.8rem;
}

.imagedollar {
    width: 14px;
}

.button-link {
    color: rgb(32, 140, 249);
    font-weight: 500;
}

.button-link:hover {
    border-bottom: rgb(32, 140, 249) 3px solid;
    background-color: rgb(242, 242, 242);
    border-radius: 3px;
}

.light-shadow {
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
}

.light-shadow-2 {
    background-color: rgb(246 245 245);
}

.light-shadow-3 {
    background-color: rgb(236 236 236);
}

.bg-bar-background-1 {
    background-color: #B4D2EE;
}

.bg-bar-background-2 {
    background-color: #8FCFF2;

}

.bg-bar-background-3 {
    background-color: #0077BB;

}

.bg-bar-background-4 {
    background-color: #005485;

}

.linedatatable {
    text-decoration: none;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 40px;
}


/* input[type=range] {
    height: 38px;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
} */

/* input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #3071 A9;
    border-radius: 0px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    margin-top: -11px;
} */
/* 
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
} */

/* input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #3071 A9;
    border-radius: 0px;
    border: 1px solid #000000;
} */

/* input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
} */

/* input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000;
} */

/* input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
} */