.pencil-edit {
    margin-top: -70px;
}

.edit-numbermonth {
    font-size: 9px;
    width: 2.7rem;
    margin-left: -10px;
}

.imagedollar {
    width: 13px;
    margin-top: -3px
}

.button-link {
    color: rgb(32, 140, 249);
    font-weight: 500;
}

.button-link:hover {
    border-bottom: rgb(32, 140, 249) 3px solid;
    background-color: rgb(242, 242, 242);
    border-radius: 3px;
}

.light-shadow {
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
}

.light-shadow-2 {
    background-color: #F4F6F9;
    margin-top: 50px;
}

.light-shadow-3 {
    background-color: #E3EBEF;
}

.bg-bar-background-1 {
    background-color: #B4D2EE;
}

.bg-bar-background-2 {
    background-color: #8FCFF2;

}

.bg-bar-background-3 {
    background-color: #0077BB;

}

.bg-bar-background-4 {
    background-color: #005485;

}

.bgrd-save {
    background-color: #2580D3;
    font-size: 13px;
}

.bgrd-cancel {
    background-color: transparent;
    font-size: 13px;
    color: rgb(219, 40, 40);
    border-color: black;
}

.Round_radio {
    width: 15px;
    margin-top: -3px;
}

.Roundup_fontsmall {
    font-size: 12px;
    letter-spacing: -0.8px;
    color: #6A7383;
    font-weight: 500;
}

.month12_January {
    font-size: 7px;
    letter-spacing: -0.9px;
}

.months_lights {
    border: none;
    margin-left: 3px;
    border-radius: 2px;
    width: 3.2rem;
    height: 60px;
    padding-top: 5px;
    background-color: #ececec;
}

.images_CoolapseAside1 {
    width: 7px;
    cursor: pointer;
}

.dge_AAR_green1 {
    border-radius: 2px;
    background-color: #00AD1C;
    letter-spacing: -0.9px;
}

.AAR-2022-1 {
    font-size: 7px;
}

.months12_number {
    font-size: 10px;
    padding-top: 15px;
    letter-spacing: -0.9px;
    border-bottom: 1px rgb(185, 185, 185) solid;
}

.months12_number_notsolid {
    font-size: 10px;
    letter-spacing: -0.9px;
}

/* .months_lights_copy1 {
    border-radius: 3px;
    background-color: #ececec;
    border: none;
    width: 3.2rem;
    padding-left: 3px;
    height: 60px;
} */