.bg-primary-sec {
    background-color: #F0F2F4;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-family: 'sf pro display';
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    text-align: start;
}

.bg-primary-sec1 {
    background-color: #F0F2F4;
    border-radius: 5px;
    color: black;
    padding-top: 20px;
    padding-bottom: 1px;
}

.bg-primary-sec3 {
    background-color: #F0F2F4;
    border-radius: 5px;
    color: black;
    padding-top: 15px;
    padding-bottom: 1px;
}

.bg-primary-sec4 {
    background-color: #F0F2F4;
    border-radius: 5px;
    color: black;
    padding-top: 10px;
    padding-bottom: 1px;
}

.image-current-year {
    width: 15px;
}

.select-secondate {
    width: 6rem;
    height: 30px;
    margin-top: -10px;
    font-size: 12px;
    color: rgb(37, 142, 218);
}

.form-check-input[id=checkboxPL] {
    border-radius: 5em;
    padding-top: 10px;
}

.form-check-input[id=checkboxPLradio] {
    border-radius: 5em;
    padding-top: 10px;
    margin-left: -5px;
}

#shadowPLinput {
    border: none;
}

#shadowPL {
    border: none;
}

.bg-sky {
    background-color: #aeccf9;
    padding-left: 10px;
}

.example-iplAnalysis1 {
    background-color: #A9EC9F;
    border-radius: 5px;
    border: none;
    width: 20px;
    height: 20px;
}

.example-iplAnalysis2 {
    background-color: #01724E;
    border-radius: 5px;
    border: none;
    width: 20px;
    height: 20px;
}

.graph-linechart {
    width: 30px;
    cursor: pointer;
}

.images_PLForecast {
    width: 20px;
}