.F_Y_Input {
    color: #2580D3;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: -0.9px;
}

.Expense_Ratio {
    font-size: 14px;
    color: black;
}

.Expense_input {
    font-size: 13px;
}

.bgCreatefooter {
    background-color: #2580D3;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 6px;
    width: 5rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bgCancelbodyfooter {
    font-size: 14px;
    background-color: rgb(228, 228, 228);
    color: black;
    font-weight: 400;
    border-radius: 4px;
    width: 5rem;
    padding-bottom: 10px;
    padding-top: 10px;
}