.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.btn-bg-gray-xs {
    border: #000 solid thin;
    text-align: center;
    color: #000;
    font-size: 13px;
    height: 22px;
    min-width: 22px;
    border-radius: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-right: 3px;
    background-color: #818181;
}

.btn-bg-white-xs {
    border: lightgray solid thin;
    text-align: center;
    color: #000;
    font-size: 13px;
    height: 22px;
    min-width: 22px;
    border-radius: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-right: 3px;
    background-color: white;
}

.btn-bg-red-xs {
    border: #EC1D42 solid thin;
    text-align: center;
    color: #EC1D42;
    font-size: 13px;
    height: 22px;
    min-width: 22px;
    border-radius: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-right: 3px;
    background-color: #ffff;
}

.btn-bg-blue-xs {
    border: lightgray solid thin;
    text-align: center;
    color: #000;
    font-size: 13px;
    height: 22px;
    min-width: 22px;
    border-radius: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-right: 3px;
    background: var(--Primary-Blue---HRVC, #2580D3);
}

.btn-bg-red-xsold {
    border: #BB2020 solid thin;
    text-align: center;
    color: #BB2020;
    font-size: 13px;
    height: 22px;
    min-width: 22px;
    border-radius: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-right: 3px;
    background-color: #FFE3E3;
}

.btn-bg-red-xs:hover {
    border: #EC1D42 solid thin;
    text-align: center;
    color: #ffff;
    font-size: 13px;
    height: 22px;
    min-width: 22px;
    border-radius: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-right: 3px;
    background-color: #EC1D42;
}

.btn-bg-white-xs:hover {
    border: gray solid thin;
    background-color: white;
}

.btn-bg-gray-xs:hover {
    border: gray solid thin;
    background-color: white;
}

.btn-bg-blue-xs:hover {
    border: gray solid thin;
    background: var(--Primary-Blue---HRVC, #2580D3);
}

.btn-xs {
    width: 22px;
    height: 22px;
    font-size: 12px;
    /* padding: 0.5% 1% 2% 1%; */
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    text-align: center;
    margin-left: 5px;
}

.pim-btn-over {
    font-size: 11px;
    color: white;
    text-align: center;
    background-color: #E05757;
    padding: 2px 3px 2px 3px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    color: var(--100-white, #FFF);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.479px;
    /* 110.567% */
    letter-spacing: -0.21px;
    text-transform: capitalize;
}

.pim-btn-inprogress {
    font-size: 10px;
    color: white;
    text-align: center;
    background-color: #2F42ED;
    padding: 2px 3px 2px 3px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    color: var(--100-white, #FFF);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.479px;
    /* 110.567% */
    letter-spacing: -0.21px;
    text-transform: capitalize;

}

.pim-btn-setup {
    font-size: 10px;
    color: white;
    text-align: center;
    background-color: #2580D3;
    padding: 2px 3px 2px 3px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    color: var(--100-white, #FFF);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.479px;
    /* 110.567% */
    letter-spacing: -0.21px;
    text-transform: capitalize;
}

.pim-btn-complete {
    font-size: 11px;
    color: white;
    text-align: center;
    background-color: #2D7F06;
    padding: 2px 3px 2px 3px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    color: var(--100-white, #FFF);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.479px;
    /* 110.567% */
    letter-spacing: -0.21px;
    text-transform: capitalize;
}

.pim-btn-disable {
    font-size: 11px;
    color: black;
    text-align: center;
    background-color: #C0C0C0;
    padding: 2px 3px 2px 3px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--100-white, #FFF);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.479px;
    /* 110.567% */
    letter-spacing: -0.21px;
    text-transform: capitalize;
}

.btn-create {
    background-color: #2580D3;
    color: white;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    border: 0;

}

.btn-reply {
    background-color: #2580D3;
    color: white;
    border-radius: 3px;
    padding: 4px 5px 4px 3px;
    ;
    border: 0;
}

.btn-blue {
    padding: 7px 20px 7px 20px;
    background-color: #2580D3;
    color: white;
    border-radius: 3px;
    font-weight: 500;
}

.btn-blue-sm {
    padding: 5px 10px 5px 10px;
    background-color: #2580D3;
    color: white;
    border-radius: 3px;
    font-weight: 400;
}

.btn-red-sm {
    padding: 5px 10px 5px 10px;
    background-color: #FFE3E3;
    border: #BB2020 solid 1px;
    color: #BB2020;
    border-radius: 3px;
    font-weight: 400;
}

.approve-btn {
    background-color: #CCE7FF;
    color: #2580D3;
    border: #2580D3 solid 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;

}

.decline-btn {
    background-color: #FFE3E3;
    color: #F56A6A;
    border: #F56A6A solid 1px;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;

}