.select-pim {
	padding: 0px 20px 0px 9px;
	border-radius: 20px;
	height: 30px;
    line-height: 30px;
	font-weight: 400;
	font-size: 12px;
	width: 90px;
	border: 0.5px solid #757575;
	color: #4C4C4C;
	white-space: nowrap;
	/* ไม่ให้ขึ้นบรรทัดใหม่ */
	text-overflow: ellipsis;
	/* แสดง ... */
}
.select-pim option {
    padding: 1px 1px !important;
    line-height: 1px !important;
}


.select-pim:focus,
.select-pim:focus-visible,
.select-pim:active {
	outline: none !important;
	box-shadow: none !important;
	border-color: #000000 !important;
	/* ป้องกัน border เปลี่ยนเป็นฟ้า */
}

.select-pimselect {
	padding: 0px 20px 0px 9px;
	border-radius: 20px;
	height: 30px;
	font-weight: 400;
	font-size: 12px;
	width: 90px;
	border-radius: 67px;
	border: 0.5px solid #2580D3;
	color: #4C4C4C;
    background-color: var(--HRVC---Light-Blue, #D7EBFF); /* เปลี่ยนตรงนี้ */
	white-space: nowrap;
	/* ไม่ให้ขึ้นบรรทัดใหม่ */
	text-overflow: ellipsis;
	/* แสดง ... */
}

.select-pimselect:focus,
.select-pimselect:focus-visible,
.select-pimselect:active {
	outline: none !important;
	box-shadow: none !important;
	border-color: #2580D3 !important;
	/* ป้องกัน border เปลี่ยนเป็นฟ้า */
}

.custom-button-select {
	/* --bs-btn-padding-x: 2.0rem; */
	--bs-btn-padding-y: 0.16rem;
	border-radius: 71px;
	border: 0.5px solid #CBE2FF;
	background: #2580D3;
	color: #FFFFFF;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
	padding-left: 5px;
	padding-right: 5px;
	/* เพิ่มการเปลี่ยนแปลงอย่างนุ่มนวล */
}

.custom-button-select:hover {
	background-color: #CBE2FF;
	/* สีพื้นหลังเมื่อชี้เมาส์ */
	border-color: #2F80ED !important
		/* สีของเส้นขอบเมื่อชี้เมาส์ */
}

.rounded-top-left {
	border-top-left-radius: 5px;
	/* ปรับตามต้องการ */
}

.rounded-top-right {
	border-top-right-radius: 5px;
	/* ปรับตามต้องการ */
}

.custom-select-style {
	display: flex;
	width: 130px;
	height: 30px;
	padding: 5px 9px;
	justify-content: space-between;
	align-items: center;
}

.btn-group .btn-primary {
	border-radius: 3px 3px 3px 3px;
	background: #2580D3;
	color: #FFFFFF;
}

.btn-group .btn-outline-primary {
	border-radius: 3px 3px 3px 3px;
	border: 0.5px solid #CBD5E1;
	background: #F6F6F6;
	color: #000;
}


.select-pim.option {
	font-weight: 300;
}

.dropdown-group {
	border-left: none;
	cursor: pointer;
	width: 45px;
	display: flex;
	justify-content: center;
	gap: 5px;

}