.submain-background {
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 71px;
    height: 100%;
    padding: 30px;
}

.menu-left-side {
    width: 235px;
    background-color: #072033;
    font-size: 14px;
    top: 0;
    left: 0;
    position: fixed;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 45px 9px 20px 9px;
    z-index: 100;
}

.main-content {
    /* padding-left: 0; */
    /* position: relative; */
    margin-left: 235px;
    min-height: 80vh;
    /* box-sizing: border-box; */
    /* flex: 1; */
    /* display: flex; */
    /* flex-direction: column; */
}

.background-main-whilte {
    background-color: white;
    margin-left: -28px;
    margin-right: -28px;
    margin-top: 40px;
    height: auto;
    min-height: 95vh;
    /* เต็มหน้าจอในแนวตั้ง */
    padding: 30px;
}

.empty-information {
    padding: 30px;
    gap: 7.721px;
    flex-shrink: 0;
    border-radius: 7.721px;
    border: 1.544px dashed var(--Stroke-Bluish-Gray, #BBCDDE);
    background: #F9F9F9;
    min-height: calc(100vh - 80px);
}

.header-top {
    top: 0;
    right: 0;
    width: calc(100% - 235px);
    position: fixed;
    z-index: 5;
    height: 60px;
    padding-top: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.submain-content {
    width: 100%;
    /* ขยายเต็มความกว้าง */
    max-width: 100%;
    /* จำกัดไม่ให้เกินขนาดหน้าจอ */
    padding-left: 30px;
    /* ระยะห่างด้านซ้าย */
    padding-right: 30px;
    /* ระยะห่างด้านขวา */
    position: relative !important;
    box-sizing: border-box;
    flex: 1;
}

.small-content {
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ligth-gray-box {
    background-color: #F4F6F9;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
}

::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #043A5C;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #072033;
}

.on-data-box {
    background-color: #F9F9F9;
    border: #A6CAFC dashed 1px;
    border-radius: 6px;
    height: 400px;
    align-content: center;
}

.no-data-img {
    width: 82px;
    height: 99px;
}

/* .modal-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: none;
} */

.header-name {
    text-align: right !important;
    font-size: 22px;
    font-weight: 500;
    margin-top: -5px;
    margin-right: 14px;
    width: 350px;
    padding-right: 0px;
}

.profile-dropdown {
    background-color: #DEE9F4;
    border-radius: 19.5px;
    height: 40px;
    width: 67px;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 3px;
}

.language-dropdown {
    background-color: #DEE9F4;
    border-radius: 19.5px;
    height: 40px;
    padding-left: 4px;
    padding-top: 3px;
    width: 94px;
}

.bell-noti {
    width: 22px;
    height: 25px;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
}

.mid-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.end-center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* ปรับให้ div เต็มพื้นที่ */
}

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-background {
    width: 100%;
    height: 100%;
}


.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.w-100 {
    width: 100vw;
    /* เต็มความกว้างของหน้าจอ */
    margin: 0;
    /* ลบ margin ที่อาจขัดขวาง */
    box-sizing: border-box;
}

.img-loading {
    width: 100%;
    min-height: 600px;
    position: relative;
    z-index: 99;
    background-color: white;
}