.menu-left-side {
    width: 280px;
    background-color: #072033;
    font-family: 'SF Pro Display', 'sans-serif';
    font-size: 14px;
    top: 0;
    left: 0;
    position: fixed;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 64px 10px 20px 10px;
}

.main-content {
    padding-left: 0;
    position: relative;
    margin-left: 280px;
    min-height: 80vh;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-top {
    top: 0;
    right: 0;
    width: calc(100% - 280px);
    position: fixed;
    z-index: 5;
    height: 70px;
    padding-top: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.submain-content {
    width: 100%;
    /* ขยายเต็มความกว้าง */
    max-width: 100%;
    /* จำกัดไม่ให้เกินขนาดหน้าจอ */
    padding-left: 10px;
    /* ระยะห่างด้านซ้าย */
    padding-right: 10px;
    /* ระยะห่างด้านขวา */
    /* position: relative !important;
    box-sizing: border-box;
    flex: 1; */
    /* position: fixed; */
}

.small-content {
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ligth-gray-box {
    background-color: #F4F6F9;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
}

::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #043A5C;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #072033;
}

.on-data-box {
    background-color: #F9F9F9;
    border: #A6CAFC dashed 1px;
    border-radius: 6px;
    min-height: 550px;
    padding-top: 150px;
}

.no-data-img {
    width: 82px;
    height: 99px;
}

.header-name {
    text-align: right !important;
    font-size: 22px;
    font-weight: 500;
    margin-top: -5px;
    margin-right: 14px;
    width: 350px;
    padding-right: 0px;
}

.profile-dropdown {
    background-color: #DEE9F4;
    border-radius: 19.5px;
    height: 40px;
    width: 67px;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 3px;
}

.language-dropdown {
    background-color: #DEE9F4;
    border-radius: 19.5px;
    height: 40px;
    padding-left: 4px;
    padding-top: 3px;
    width: 94px;
}

.bell-noti {
    width: 22px;
    height: 25px;
}


.mid-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* ปรับให้ div เต็มพื้นที่ */
}