.checkbox-sm {
    width: 10px;
    height: 10px;
}

.checkbox-md {
    width: 15px;
    height: 15px;
}

.checkbox-lg {
    width: 20px;
    height: 20px;
}
.multi-select{
    font-size: 14px;
    border-bottom: lightgray solid thin;
    background-color: aliceblue;
}
.multi-select-head{
    font-size: 13px;
    font-weight: 500;
    background-color: aliceblue;
}
.multi-box{
    height: 35px;
  
}