.Modalfirstone {
    font-size: 18px;
    font-weight: 700;
}

.fsm {
    font-size: 14px;
    text-align: end;
    padding-right: 30px;
}

.Round1 {
    width: 20px;
}

.nav-border4 {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

.nav-border4 :hover {
    border-bottom: 2px solid thin;
    color: rgb(51, 183, 235);
    font-size: 18px;
    font-weight: 700;
}

.Report-Issue {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

.card-hashed {
    border-style: dashed;
    border-radius: 5px;
    color: gray;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    color: #000000;
}

.image-hashed {
    width: 30px;
}

.image-circle1 {
    width: 40px;
}

.problemm {
    font-weight: 400;
    color: #000000;
    padding-right: 10px;
    padding-top: 10px;
}

.li-circle {
    list-style-type: disc;
    font-size: 50px;
    color: gray;
}

.li-name {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    padding-left: 15px;
}

.style-circle-li {
    border-left: 3px rgb(227, 227, 227) solid;
    height: 200px;
    margin-left: -33px;
    margin-top: -20px 20px;
    font-size: 18px;
    color: #000000;
    width: 1100px;
    padding: 10px;
}