.example-6 {
    position: relative;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    border: none;
    background-color: #eaeaea;
}

.circle-update-team {
    border: 4px solid rgb(209, 209, 209);
    padding-left: 10px;
    padding-top: 3px;
    background-color: #FFFFFF;
    height: 40px;
    border-radius: 50%;
    width: 40px;
}

.teamClients {
    margin-top: -25px;
    margin-left: 300px;

}

.san {
    margin-left: 290px;
    margin-top: -20px;
}

.Team-Members {
    color: rgb(20 96 185);
    padding-left: 20px;
    font-weight: 600;
    padding-top: 30px;
}