.branch-title {
    font-size: 32px;
    font-weight: 700;
}

.alert-branch {
    background-color: #e9f1fc;
    border-radius: 1px;
}

.card-tcf {
    width: 70px;
    height: 70px;
    border-radius: 14%;
}

.card-round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.image-zoom {
    width: 15px;
    cursor: pointer;
}

.bt-right {
    text-align: end;
}

.bt-plus0 {
    padding-top: 30px;
}

.bt-togg {
    z-index: 1;
    position: relative;
}


@media(max-width: 992px) {
    .bt-right {
        text-align: center;
        padding-top: 10px;
    }

    .bt-togg {
        padding-top: 10px;
    }

    .branch-one {
        padding-left: 10px;
    }
}

@media(max-width: 768px) {
    .bt-right {
        text-align: start;
    }

    .branch-one {
        padding-left: 10px;
    }
}