.branch-title {
    color: #3C3D48;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.429px;
    /* 89.286% */
}

.create-form {
    height: calc(100vh - 120px);
    padding: 23.209px 25.53px;
    gap: 7.721px;
    flex-shrink: 0;
    border-radius: 7.721px;
    background: #F4F6F9;
}

.alert-branch {
    background-color: #e9f1fc;
    border-radius: 1px;
}

.card-tcf {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover
}

.card-round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.image-zoom {
    width: 15px;
    cursor: pointer;
}

.bt-right {
    text-align: end;
}

.bt-plus0 {
    padding-top: 30px;
}

.bt-togg {
    z-index: 1;
    position: relative;
}

.branch-one {
    padding: 40px 40px 40px 40px;
}

.alert-secondary-branch {
    display: flex;
    /* width: 1560px;
    height: 169px; */
    padding: 9px 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}

.text-quick-register {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--HRVC---Text-Black, #30313D);
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.429px;
    /* 107.143% */
    text-transform: capitalize;
}

.head-filter-branch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.body-filter-branch {
    display: flex;
    align-items: center;
    gap: 37px;
    align-self: stretch;
}


.btn-create-branch {
    display: flex;
    width: 131.43;
    height: 30px;
    padding: 7px 9px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border: none;
    border-radius: 3px;
    background: var(--Primary-Blue---HRVC, #2580D3);
    color: #FFF;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}

.btn-create-branch:hover {
    text-decoration: none; 
}

.alert-branch-body {
    background: #FFF;
    border: hsla(0, 0%, 86%, 1);
    border-radius: 5px;
}

.card-body-branch {
    /* display: flex; */
    width: 477px;
    padding: 16px 21px;
    /* flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* gap: 18px; */
    border-radius: 5px;
    background: #F4F6F9;
}

.header-crad-branch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.name-crad-branch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: var(--HRVC---Text-Black, #30313D);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.city-crad-branch {
    color: var(--HRVC---Text-Black, #30313D);
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media(max-width: 992px) {
    .bt-right {
        text-align: center;
        padding-top: 10px;
    }

    .bt-togg {
        padding-top: 10px;
    }

    .branch-one {
        padding: 10px;
    }
}

@media(max-width: 768px) {
    .bt-right {
        text-align: start;
    }

    .branch-one {
        padding-left: 10px;
    }
}