.chevron-left1 {
    font-size: 13px;
}

.size-font-june {
    font-size: 32px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #475569;
}

.input-calendar-from {
    margin-top: 20px;
    margin-left: -90px;
}

.input-calendar-to {
    margin-left: -75px;
    margin-top: 20px;
}

.select-calendar-from {
    font-size: 12px;
    margin-left: 5px;
}

.select-calendar-to {
    font-size: 12px;
    margin-left: 11px;
}

.fontas-left {
    font-size: 10px;
}

.fontas-right {
    font-size: 10px;
}

.calendar-branch {
    font-size: 12px;
    margin-left: -58px;
    width: 90px;
    margin-top: 20px;
}

.button-filter {
    font-size: 12px;
    margin-left: -95px;
}

.calendar-Departments {
    font-size: 12px;
    margin-left: -109px;
    width: 118px;
    margin-top: 20px;
}

.calendar-Team {
    font-size: 12px;
    width: 78px;
    margin-left: -132px;
    margin-top: 20px;
}

.calendar-Title {
    font-size: 12px;
    width: 72px;
    margin-left: 680px;
    margin-top: -48px;
}

.calendar-Employee {
    font-size: 12px;
    width: 100.99px;
    margin-left: 610px;
    margin-top: -48px;
}

.calendar-month {
    font-size: 14px;
    height: 33px;
}

.button-lf {
    font-size: 10px;
    width: 20px;
}

.button-th-large {
    font-size: 12px;
}

.droup1 {
    font-size: 12px;
    padding-left: 20px;
}

#calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.divCal {
    background-color: #3B82F6;
    color: white;
}

#calendar tr,
#calendar tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

#calendar a {
    color: #eae3e3d7;
    text-decoration: none;
}

#calendar td,
#calendar th {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#calendar .weekdays {
    background: white;
}


#calendar .weekdays th {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: black;
    font-size: 13px;
}

#calendar td {
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    color: black;
    flex: 0 0 auto;
    align-self: flex-end;
}

#calendar .event {
    flex: 0 0 auto;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

.calendar-seehr {
    font-size: 35px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alert-table-summary {
    height: 90%;
}

.alert-summary {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alert-edit {
    height: 20%;
}

.Evaluation {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(222, 221, 221);
}

.Evaluation .feedback {
    visibility: hidden;
    width: 130px;
    background-color: rgb(207, 205, 205);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.Evaluation .feedback::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(194, 194, 194) transparent transparent;
}

.Evaluation:hover .feedback {
    cursor: pointer;
    visibility: visible;
}

.title-kpi {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(222, 221, 221);
}


.title-kpi .setting {
    visibility: hidden;
    width: 130px;
    background-color: rgb(207, 205, 205);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.title-kpi .setting::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(194, 194, 194) transparent transparent;
}

.title-kpi:hover .setting {
    cursor: pointer;
    visibility: visible;
}

.collapse-font {
    font-size: 11px;
    text-align: start;
}


.object-center {
    display: flex;
    justify-content: center;
    align-items: center;
}