.company-group-content {
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.company-group-edit {
    padding: 20px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    /* border: 1px solid #CBD5E1; */
    background: #FFF;
}


.company-group-body {
    background: #FFF;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    /* เลื่อนขึ้น 10px */
    position: relative;
    /* เพื่อให้ top และ margin มีผล */
}

.update-company-body {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* gap: 10px; */
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Background-Blue, #F4F6F9);
}

.head-name-link {
    color: #2580D3;
    text-decoration-line: underline;
    text-underline-offset: 3px;

}


.uplode-btn-group {
    display: flex;
    width: 100px;
    height: 40px;
    padding: 7px 9px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 3px;
    background: var(--Primary-Blue---HRVC, #2580D3);
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}


.eye-view-profile {
    text-align: right;
    padding-top: 30px;
}



.btn-update-group {
    display: flex;
    height: 40px;
    /* padding: 9.75px 10.5px; */
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    border-radius: 2.893px;
    background: var(--Primary-Blue---HRVC, #2580D3);
    color: #FFF;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 233.333% */
    /* margin-top: 20px;
    margin-right: 34px; */
    text-decoration: none;
}


.plus-click0 {
    cursor: pointer;
}

.body-tokyo {
    font-size: 14px;
}

.all-tokyoname0 {
    margin-top: 60px;
}

@media(max-width: 992px) {
    .form-companyname {
        /* margin-left: 50px; */
    }

}

@media(max-width: 768px) {
    .all-tokyoname0 {
        margin-top: 40px;
        margin-left: -20px;
    }

    .eye-view-profile {
        margin-top: 10px;
    }

    .about-consulting {
        margin-left: 10px;
    }

    .employee-center {
        font-size: 14px;
    }

    .form-companyname {
        /* margin-left: 10px; */
    }

    .your-about {
        margin-left: 10px;
    }

    .your-consulgroup {
        text-align: end;
    }

}

@media(max-width: 450px) {
    .company-group-body {
        background: #FFF;
        height: auto;
        width: 900%;
        margin-right: -20px;
        padding-top: 20px;
        padding-right: 34px;
        padding-left: 40px;
        left: -10px;
        position: relative;
    }
}