.company-table {
    font-size: 32px;
    font-weight: 700;
}

.not {
    text-decoration: none;
}

.td-icon {
    font-size: 20px;
    cursor: pointer;
}

.tr-font {
    font-size: 12px;
}

.bangladresh-hrvc {
    width: 15px;
}