.table-KPI {
    font-style: normal;
    font-size: 30px;
    color: #4F4F4F;
    font-weight: 600;
    margin-top: 100px;
}

.title-Update {
    margin-top: 25px;
    font-size: 15px;
}

.title-Respiratory {
    margin-top: 25px;
    font-size: 15px;
}

.table-All {
    font-style: normal;
    font-size: 16px;
}

.width-Round-Bangladesh {
    width: 20px;
}

.font-title {
    font-size: 18px;
}


.fa-chevron-right1 {
    color: white;
    font-size: 12px;
    padding-left: 30px;
}

.branch-eye {
    font-size: 10px;
}

.branch-Export {
    font-size: 10px;
    margin-left: -40px;
}

.branch-refresh {
    font-size: 10px;
    margin-left: -75px;
}

.branch-filter {
    font-size: 10px;
}

.branch-select {
    font-size: 14px;
    border: none;

}

.select-departments {
    border: none;
    font-size: 14px;
}

.select-team {
    font-size: 14px;
    border: none;
}

.select-title {
    border: none;
    font-size: 14px;
}

.select-employee {
    border: none;
    font-size: 14px;
}

.group-date-from {
    width: 170px;

}

.group-date-to {
    width: 150px;
}

.group-text-from {
    font-size: 12px;
}

.group-text-to {
    font-size: 12px;
}

.control-day {
    font-size: 12px;
}

.title-calendar1 {
    margin-top: 30px;
}

.title-calendar2 {
    margin-top: 25px;
}

.title-refresh {
    margin-top: 30px;
    cursor: pointer;
}

.table-font-small {
    font-size: 14px;
    font-weight: 700;
}

.width-Round-table {
    width: 20px;
}

.buttton-eye {
    cursor: pointer;
    font-size: 22px;
    color: grey;
}

.button-pencil {
    cursor: pointer;
    font-size: 22px;
    color: grey;
    padding-left: 10px;
}

.button-plus {
    cursor: pointer;
    font-size: 22px;
    color: grey;
    padding-left: 10px;
}

.buton-delete {
    color: red;
    cursor: pointer;
    font-size: 22px;
    padding-left: 10px;
}

.search-submit {
    width: 140px;
    height: 35px;
    margin-left: -30px;
}

.label-search {
    font-size: 12px;
}

.table-striped {
    font-size: 16px;
    margin-top: 30px;
}

.tdody-font {
    font-size: 14px;
}

.txt-sales {
    color: #265AA7;
}

.show-fade-one {
    font-size: 16px;
    margin-top: 30px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 768px) {
    .show-fade-one {
        font-size: 15px;
    }

    .title-Respiratory {
        margin-top: 25px;
    }
}