.department-tokyo {
    font-size: 12px;
    padding-top: 10px;
}

.bangladresh-hrvc1 {
    width: 11px;
}

.bangladresh-hrvc2 {
    font-size: 12px;
}

.share-big {
    font-size: 40px;
    margin-top: 30px;
}

.show-height {
    border-right: lightgray solid thin;
}

.department-sizesmall {
    font-size: 12px;
}

.title-margin {
    font-size: 12px;
    padding-top: 50px;
}

.image-vector {
    width: 100%;
}

.txt-bold {
    font-weight: 700;
    font-size: 17px;
}

.input-group {
    z-index: 0;
}

@media(max-width: 922px) {
    .department-one {
        padding-left: 20px;
    }
}

@media(max-width: 768px) {
    .department-one {
        padding-left: 20px;
    }
    .image-vector {
        width: 60px;
    }
}