.employee-one {
    font-size: 32px;
    font-weight: 500;
}

.alert-employee {
    background-color: white;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: gray;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 650px;
    border: none;
    background-color: #f2f4f6;
}

.image-employee {
    /* width: 100%;
    height: 100%; */
    width: 100px;
    height: 95px;
    border-radius: 100%;
}

.emplo-tadawoki {
    padding-top: 10px;
    margin-left: -30px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    cursor: default;
}

.emplo-permanent {
    font-size: 12px;
    border-radius: 50%;
    cursor: default;
}

.alert1-employee1 {
    background-color: rgb(233, 240, 243);
}

.lead-programmer {
    font-size: 10px;
    color: #7A8CAC;
}

.lead-it {
    font-size: 9px;
    padding-top: 5px;
    color: black;
}

.employee-email {
    font-size: 8.5px;
    color: black;
    padding-top: 5px;
}

.employee-view {
    color: #3B7FF9;
    text-align: end;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

.bg-success0 {
    background-color: rgb(17, 179, 57);
}

.input-group0 {
    z-index: 1;
}

.fil0 {
    text-align: end;
}

.btn-curr {
    background-color: #e4e4e4fb;
    border: none;
    color: black;
}

@media(max-width: 992px) {
    .all-employee0 {
        padding-left: 20px;
    }
    .fil0 {
        text-align: start;
    }
}

@media(max-width: 768px) {
    .all-employee0 {
        padding-left: 20px;
    }
    .fil0 {
        text-align: start;
    }
    .image-employee {
        width: 60%;
        margin-top: 10px;
    }
    .employee-view {
        font-size: 13px;
    }
}