.evaluation-chepter1 {
    font-size: 26px;
    font-weight: 700;
    color: black;
}

.evaluation-chepter2 {
    font-size: 26px;
    font-weight: 700;
    text-align: end;
    color: black;
}

.alert-evaluion {
    border: none;
    background-color: gainsboro;
}

.phepter3-thumbs {
    font-size: 40px;
}

.ff {
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-top: -20px;
}

.finist {
    font-size: 13px;
}