.sad-1 {
    width: 100%;
    object-position: top center;
    object-fit: cover;
    max-inline-size: 100%;
    min-inline-size: 100%;
    block-size: auto;
}

.edit-update {
    margin-top: -50px;
    padding-left: 1010px;
}

.tcg-edit0 {
    text-align: end;
}


/* body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
} */


/* .container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
} */


/* h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
} */


/* h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
} */


.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;

}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.all-avatar {
    margin-left: -70px;
    margin-top: -100px;
}

.name-tokyo {
    /* padding-top: 20px; */
}

.name-full-tokyo {
    color: var(--HRVC---Light-Text, #94989C);
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name-sub-tokyo {
    color: var(--HRVC---Text-Black, #30313D);
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.tokyo-small {
    color: #3C3D48;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.all-information {
    font-size: 14px;
}

.hr-group {
    border: none;
    /* ลบเส้น default */
    border-top: 0.5px solid var(--Stroke-Bluish-Gray, #BBCDDE);
    /* กำหนดความหนาและสีของเส้น */
    margin-top: 10px;
    /* ปรับระยะขอบถ้าจำเป็น */
}

.hr-group-vertical {
    width: 10px;
    height: 0px;
    transform: rotate(90deg);
    stroke-width: 0.5px;
    stroke: var(--Stroke-Bluish-Gray, #BBCDDE);
}

.Group-Information {
    /* padding-left: 40px; */
    color: #3C3D48;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.name-head {
    color: var(--HRVC---Text-Black, #30313D);
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: end;
}

.group-body {
    display: flex;
    /* width: 793px; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    gap: 42px;
}

.company-group-picture {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.name-head0 {
    text-align: start;
}

.number-bold {
    font-weight: 700;
    font-size: 22px;
}

.circle-container {
    display: flex;
    align-items: center;
    gap: 7.5px;
    position: relative;
}



.cycle-current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32.25px;
    height: 32.25px;
    border-radius: 15.75px;
    border: 0.75px solid var(--Active-Primary-Blue-Stock, #CBD5E1);
    background: var(--Primary-Blue---HRVC, #2580D3);
    position: relative;
    z-index: 1;
}

.cycle-current:not(:last-child) {
    margin-left: -16px;
}

.cycle-current img {
    width: 18px;
    height: 18px;
}

.circle-container-img {
    display: flex;
    position: relative;
}

.cycle-image {
    display: flex;
    width: 32.25px;
    height: 32.25px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.cycle-image:not(:last-child) {
    margin-left: -16px;
}

.cycle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ตัดรูปให้พอดีกับขนาดวงกลม */
}


.number-current {
    font-size: 16px;
    background: #FFF;
    border-radius: 15.75px;
    border: 0.75px solid #3C3D48;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44.25px;
    height: 32.25px;
    margin-left: -21px;
    /* ซ้อนทับกับวงกลมก่อนหน้า */
    z-index: 2;
    color: var(--HRVC---Text-Black, #30313D);
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
}



.ABOUT-NAME {
    color: #3C3D48;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.home-tokyo {
    /* border-left: lightgray solid thin; */
    font-size: 14px;
}

.width-TCF-BD {
    width: 100%;
    height: 55px;
}

.tcg-edit {
    /* font-weight: 700; */
    font-size: 30px;
}

.facebook {
    color: #2F80ED;
    cursor: pointer;
    padding-left: 20px;
}

.tokyoconsultinggroup {
    /* font-weight: 600;
    font-size: 13px; */
    color: var(--HRVC---Text-Black, #30313D);
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.city-group {
    color: var(--HRVC---Text-Black, #30313D);
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.135px;
}

.alert-secondary-background {
    display: flex;
    width: 183px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 13.5px;
    padding: 15px;
    border-radius: 10px;
}


.see-more {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: var(--Primary-Blue---HRVC, #2580D3);
    font-family: "SF Pro Display";
    font-size: 10.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.928px;
    padding: 0;
    display: inline;
    /* ทำให้ปุ่ม See More อยู่ต่อท้ายข้อความ */
    margin-left: 5px;
    /* เพิ่มช่องว่างเล็กน้อยระหว่างข้อความและปุ่ม */
}

.text-name-current {
    color: var(--HRVC---Text-Black, #30313D);
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.464px;
    /* 120.536% */
}

.text-see-all {
    color: var(--Primary-Blue---HRVC, #2580D3);
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 10.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.464px;
    /* 137.755% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.clipboard0 {
    cursor: pointer;
}

.building0 {
    font-size: 30px;
}

.address-box0 {
    font-size: 14px;
}

.detail-tokyo {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 23px;
    word-wrap: break-word;
    padding-right: 15px;
    text-indent: 20px;
}

.box-about0 {
    padding-left: 20px;
}

.box-27 {
    color: #3C3D48;
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.75px;
    text-align: end;
    /* 106.25% */
    /* 106.25% */
}

.Affiliated0 {
    color: var(--HRVC---Text-Black, #30313D);
    leading-trim: both;
    text-edge: cap;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.75px;
    /* 106.25% */
    text-transform: capitalize;
}


.affiliated-list {
    cursor: pointer;
}

.affiliated-list:hover {
    opacity: 0.5;
}


@media(max-width: 992px) {
    .edit-update {
        padding-left: 755px;
    }

    .width-TCF-BD {
        width: 100%;
    }

    /* .alert-secondary-background {
        margin-left: 20px;
    } */
}

@media(max-width: 768px) {
    .edit-update {
        padding-left: 350px;
    }

    .avatar-upload {
        margin-left: 80px;
    }

    .name-tokyo {
        padding-left: 215px;
        margin-top: -180px;
        font-size: 20px;
    }

    .tokyo-small {
        padding-left: 220px;
        margin-top: -5px;
    }

    .tcg-edit0 {
        margin-top: -40px;
        text-align: right;
    }

    .name-head {
        text-align: center;
        margin-top: 30px;
    }

    .name-head0 {
        text-align: right;
        margin-top: -24px;
    }

    .address-box {
        font-size: 13px;
        width: 125px;
        margin-left: 340px;
    }

    .address-box0 {
        font-size: 13px;
    }

    .Group-Information {
        margin-top: 30px;
    }

    .ABOUT-NAME {
        margin-top: 30px;
    }

    .box-about0 {
        padding-left: 20px;
    }

    .home-tokyo {
        margin-left: 30px;
        margin-top: 30px;
    }

    .width-TCF-BD {
        width: 60%;
    }

    .building0 {
        font-size: 30px;
        padding-left: 30px;
    }

    .Affiliated0 {
        margin-top: -20px;
        text-align: center;
    }

    .box-27 {
        color: #3C3D48;
        leading-trim: both;
        text-edge: cap;
        font-family: "SF Pro Display";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 12.75px;
        /* 106.25% */
        /* 106.25% */
    }

    .numberemployees {
        font-size: 13px;
        padding-top: -20px;
    }

    /* .alert-secondary-background {
        margin-left: 20px;
    } */

    .location {
        display: none;
    }
}