.profile-moon {
    color: red;
    font-weight: 300;
}

.form-companyname {
    padding-top: 60px;
}

.Groupname1 {
    font-weight: 700;
    font-size: 18px;
}

.Groupname2 {
    font-weight: 700;
    font-size: 20px;
}