.navbar {
    position: fixed;
    z-index: 3;
    height: 55px;
}

.Googday {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 40px;
}

.width-ehsan-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.box-list-group {
    margin-left: -1120%;
}

@media (max-width: 992px) {
    .rounded1 {
        margin-left: 25px;
        font-size: 12px;
    }

    .Googday {
        font-size: 16px;
    }

    

}

@media(max-width: 768px) {
    .rounded1 {
        margin-left: 20px;
        margin-top: -10px;
        font-size: 12px;
    }

    
    .Googday {
        font-size: 10px;
    }
    .width-ehsan-small {
        /* margin-left: 55%; */
        width: 30px;
        height: 30px;
    }
    .search-input2 {
        font-size: 12px;
    }

}