.navbar {
    position: fixed;
    z-index: 3;
    height: 55px;
}

.Googday {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 40px;
}

.width-ehsan-small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 1px;
    cursor: pointer;
}

.profile-arrow-menu {
    cursor: pointer;
    text-align: center;
    margin-top: 3px;
}

.language-text {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
    color: #3C3D48;
}

.header-pepartment {
    font-size: 13px;
    font-weight: 400;
    color: #656565;
    margin-top: -5px;
}

.box-list-group {
    margin-left: -1120%;
}

.profile-box-menu {
    width: 232px;
    height: 261px;
    position: absolute;
    background-color: white;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 11px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #30313D;
    display: none;
}

.profile-menu-icon {
    width: 24px;
    height: 24px;
}

.logout-button {
    background-color: #CC0000;
    height: 36px;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 2px;
}

.country-box-menu {
    width: 181px;
    height: 307px;
    position: absolute;
    background-color: white;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 11px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 11px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #30313D;
    display: none;
}

.head-list-menu {
    padding-top: 11px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 11px;
}

.head-list-menu:hover {
    background-color: #DEE9FE;
}

@media (max-width: 992px) {
    .rounded1 {
        margin-left: 25px;
        font-size: 12px;
    }

    .Googday {
        font-size: 16px;
    }

}

@media(max-width: 768px) {
    .rounded1 {
        margin-left: 20px;
        margin-top: -10px;
        font-size: 12px;
    }

    .Googday {
        font-size: 10px;
    }

    .width-ehsan-small {
        width: 30px;
        height: 30px;
    }

    .search-input2 {
        font-size: 12px;
    }

}