.header1 {
    background-color: #111727;
    padding-top: 20px;
    font-family: 'SF Pro display';
    font-size: 14px;
    position: fixed;
    overflow-y: scroll;
    letter-spacing: -0.6px;
    z-index: 1;
    width: 15.5%;
}

.caret-left {
    color: white;
    font-size: 15px;
    margin-left: 190px;
    cursor: pointer;
}

.width-hrvc {
    margin-top: 20px;
    margin-left: 6px;
    width: 90%;
}

.no-underline {
    text-decoration: none;
    color: white;
}

.navbar-header {
    padding-left: 10px;
    padding-top: 20px;
}

.navbar-header a:hover {
    background-color: rgb(220, 228, 229);
    color: rgb(25, 116, 201);
    border-radius: 3px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.haeder-company {
    color: #94989F;
    margin-top: 20px;
    text-transform: uppercase;
}

.haeder-kpi {
    color: #94989F;
    margin-top: 20px;
}

.haeder-Evalution {
    color: #94989F;
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.header-pim {

    font-size: 14px;
    background-color: rgb(249, 249, 249);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.header-item {
    /* height: 30px; */
    padding-top: 3px;
    padding-bottom: 3px;
}

@media(max-width: 768px) {
    .width-hrvc {
        width: 100%;
    }

    .header1 {
        display: none;
    }
}

@media(max-width:992px) {
    .header1 {
        display: none;
    }
}