.width-dashboard {
    width: 30%;
    margin-top: 50px;
}

.bag-bell {
    cursor: pointer;
}

.button-start {
    font-size: 11px;
    margin-top: 30px;
}

.button-start a:hover {
    background-color: red;
}

.button-start1 {
    font-size: 11px;
    margin-top: 60px;
}

.width-ehsan-small {
    width: 30px;
}

.card {
    margin-top: 30px;
    padding: 2%;
}

.width-risk {
    width: 190px;
}

.width-risk1 {
    width: 100%;
}

.width-risk2 {
    width: 70%;
}

.card-Dashboard {
    border: none;
}


.card-background {
    border-radius: 20px;
    background-color: #EAF7FF;
    padding: 5%;
    height: 260px;
}

.icon-chevron-right {
    font-size: 9px;
}


.title-KPI {
    color: #265AA7;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    font-style: normal;
    font-size: 12px;
}

.title-Dashboard-Welcome {
    font-style: normal;
    color: black;
    padding-top: 50px;

}

.name {
    cursor: pointer;
}

.navbar {
    position: fixed;
    z-index: 1;
    height: 55px;
}

.nav-align {
    margin-top: 10px;
    cursor: pointer;
}

.no-underline {
    text-decoration: none;
}

.Googday {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-button {
    padding-left: 160px;
}



@media(max-width:768px) {
    .navbar {
        padding-left: -10px;
    }

    .nav-align {
        display: none;
    }

    .width-ehsan-small {
        width: 20px;
    }

    .Googday {
        font-size: 10px;
        margin-left: 30px;
    }

    .name {
        font-size: 10px;
        margin-left: 30px;
    }

    .width-dashboard {
        width: 50%;
        padding-top: 30px
    }

    .width-risk {
        width: 70%;
    }

    .title-KPI {
        font-size: 12px;
    }

    .navbar-button {
        margin-left: 20px;
        margin-top: -30px;
    }

    .rounded {
        font-size: 12px;
    }

    .fit {
        font-size: 10px;
    }

    .fa-clock-o {
        font-size: 10px;
    }

    .bnheader {
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    .navbar-button {
        margin-left: 250px;
        margin-top: -30px;
    }

}