.width-dashboard {
    width: 20%;
    margin-top: 30px;
}

.bag-bell {
    cursor: pointer;
}

.button-start {
    font-size: 11px;
    margin-top: 30px;
}

.button-start a:hover {
    background-color: red;
}

.button-start1 {
    font-size: 11px;
    margin-top: 60px;
}

.card {
    margin-bottom: 20px;
    padding: 2%;
}


.card-comany {
    display: flex;
    margin-bottom: 20px;
    padding: 22px;
    height: 300px;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    gap: 24px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--Stroke-Bluish-Gray, #BBCDDE);
    background: #F9FBFF;
    /* padding: 2%; */
}


.width-risk {
    width: 150px;
}

.width-risk1 {
    width: 100%;
}

.width-risk2 {
    width: 70%;
}

.card-Dashboard {
    border: none;
}


.card-background {
    border-radius: 20px;
    background-color: #EAF7FF;
    padding: 5%;
    height: 260px;
}

.icon-chevron-right {
    font-size: 9px;
}


.title-KPI {
    color: #265AA7;
    font-weight: 700;
    font-family: 'sf pro display';
    padding-top: 30px;
    font-style: normal;
    font-size: 12px;
}

.title-Dashboard-Welcome {
    font-style: normal;
    font-size: 14px;
    padding-top: 30px;
    line-height: 17px;
    font-weight: 500;
    font-family: 'sf pro display';

}

@media(max-width:768px) {
    .nav-align {
        display: none;
    }

    .width-dashboard {
        width: 50%;
        padding-top: 30px
    }

    .width-risk {
        width: 70%;
    }

    .title-KPI {
        font-size: 12px;
    }

    .fa-clock-o {
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    .width-risk2 {
        width: 50%;
    }

    .width-risk1 {
        width: 65%;
    }
}