.alert2-secondary2 {
    background-color: rgb(249, 249, 249);
}

.alert-white-4 {
    background-color: rgb(243, 243, 243);
}

.alert-light-4 {
    background-color: rgb(249, 249, 249);
}

.key1 {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}

.Flag-Turkey {
    border-radius: 30px;
    height: 15px;
    width: 15px;
}

#progress1 {
    display: flex;
    justify-content: space-around;
}

.progress-item1 {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 0;
    animation: .4s ease-out reverse;
}

.progress-item1::after {
    content: attr(data-value);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    margin: 4px;
    border-radius: 50%;
    background: white;
    font-size: 11px;
    text-align: center;
}

.on-cursor {
    cursor: pointer;
    font-size: 18px;
}

.transform-none {
    text-transform: uppercase;
    font-size: 10px;
}

#visible0 {
    font-size: 12px;
}

.content-navitem {
    margin-left: 40%;
}

.dropdown-menu {
    --bs-dropdown-min-width: 0rem;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #e1e1e1;
}

.new-light-4 a:hover {
    background: rgb(255, 255, 255);
    color: #5CAEF9;
}

.btn-light-3 {
    background-color: rgb(255, 255, 255);
}

.presentation-end {
    margin-left: 190px;
}

.over-blue {
    border-left: 7px solid #5CAEF9;
    border-radius: 5px 0px 0px 5px;
}

.over-yellow {
    border-left: 7px solid #FFDC61;
    border-radius: 5px 0px 0px 5px;
}

.border-bottom-white {
    border-bottom: 3px solid white;
    font-size: 12px;
}

.border-bottom-white2 {
    border-bottom: 3px solid white;
    font-size: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
}

.image-Avatar1 {
    width: 2rem;
    height: 2rem;
}

.bg-secondary-bsc {
    background-color: rgb(226, 226, 226);
    color: #000000;
    font-size: 11px;
}

.avatar img {
    border-radius: 50%;
    position: relative;
    margin-left: -25px;
    z-index: 1;
}

.avatars {
    direction: ltr;
    text-align: right;
    padding-left: 25px;
}

.navigation-next {
    margin-left: 40%;
}

.page-navigation {
    color: #000000;
}

.comment-td {
    width: 17px;
    cursor: pointer;
}

.comment-td-dropdown {
    width: 17px;
    cursor: pointer;
    margin-left: -20px;
    margin-top: -5px;
}

@media(max-width: 992px) {
    .pd-Performance {
        padding-left: 10px;
    }

    .New-date {
        padding-top: 20px;
    }

    .New-KFI {
        padding-top: 20px;
    }
}

@media (max-width: 768px) {
    .tb-width5 {
        width: 20rem;
    }

    .content-navitem {
        margin-left: 70px;
    }

    .pd-Performance {
        padding-left: 10px;
    }

    .New-KFI {
        padding-top: 20px;
    }

    .New-date {
        padding-top: 20px;
    }

    .key1 {
        font-size: 16px;
    }

    .new-light-4 {
        text-align: end;
    }
}