.example-5 {
    position: relative;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    border: none;
    background-color: #eaeaea;
}

.month-feb {
    font-size: 12px;
    padding-top: 5px;
    color: #475569;
    font-weight: 600;
}

.clients-employee {
    font-weight: 700;
    font-size: 17px;
}

.bg-bsc {
    background-color: rgb(228, 238, 243);
    color: #000000;
}

.flex-tokyo {
    font-weight: 500;
    font-size: 11px;
}

.image-flex {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.tokyo-ima {
    text-align: end;
    font-size: 11px;
}

.card-radius {
    border-radius: 10px;
}

.slds-badge {
    background-color: #eaeaea;
    color: #ef3a3a;
    font-size: 12px;
}

.top-teamcontent {
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
}

.sample-bordersolid {
    border-left: lightgray solid thin;
}

.Quality-diamond {
    font-weight: 700;
    font-size: 12px;
    padding-top: 5px;
}

.Quality-monthly0 {
    font-weight: 700;
    font-size: 13px;
    padding-top: 5px;
}

.imagecomment {
    width: 10px;
    margin-left: 65px;
    cursor: pointer;
}

.circle-update {
    border: 4px solid rgb(52, 153, 224);
    padding-top: 3px;
    background-color: #FFFFFF;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    font-weight: 500;
    text-align: center;
}

.progress-bordersolid {
    border-left: lightgray solid thin;
}

.target-progress {
    font-size: 13px;
    color: rgb(107, 107, 107);
}

.target-million {
    font-weight: 700;
    font-size: 13px;
}

.target-plush {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.pro-load2 {
    background: #ffffff;
    font-size: 9px;
    border: 4px solid rgb(52, 153, 224);
    position: relative;
    color: #000000;
    width: 35px;
    height: 35px;
    padding-left: 5px;
    margin-left: -11px;
    margin-top: -9px;
    padding-top: 9px;
}

.refresh0 {
    color: rgb(50, 121, 23);
    font-size: 12px;
    cursor: pointer;
}

.pencil-nextupdate {
    font-size: 12px;
    color: #2F80ED;
    cursor: pointer;
    text-align: end;
}

.card-bordersolid {
    border-left: lightgray solid thin;
}

.dashed1 {
    border-style: dashed;
    border-radius: 8px;
    color: #abadaf;
    padding-left: 5px;
}

.alert-primary-12 {
    background-color: #e1e9f4;
}

.solid-single {
    border-left: lightgray 2px solid;
}

.solid-single1 {
    border-left: lightgray 2px solid;
}

.image-employeekgi {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.is-bangladresh3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.padding-employee {
    margin-left: 625px;
    margin-top: -20px;
}

.line-height-employee {
    line-height: 19px;
    font-size: 14px;
    padding-top: 30px;
    color: #000000;
}

.input-paperclip {
    padding-top: -50px;
}

.send-paper {
    margin-top: -67px;
    margin-left: 530px;
    font-size: 13px;
    width: 70px;
    height: 30px;
}

.cilp-send {
    margin-left: 620px;
    margin-top: -67px;
    font-size: 12px;
    border: none;
}