.title-summary {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-february {
    font-size: 16px;
    font-weight: 700;
}

.small-title-february {
    font-size: 14px;
}