.team-grid-clients {
    font-size: 12px;
    font-weight: 700;
}

.team-tokyo {
    font-size: 13px;
    text-align: end;
}

.solid2-kgi {
    border-left: 1px rgb(203, 203, 203) solid;
}

.boderradius-dead {
    font-size: 11px;
    border-radius: 20px;
    padding-left: 5px;
}

.borderdeadline {
    color: rgb(255, 35, 35);
    font-weight: 500;
}

.solid3 {
    border-left: 1px rgb(203, 203, 203) solid;
}

.target-plush1 {
    font-weight: 700;
    font-size: 15px;
}

.result-million {
    font-weight: 700;
    font-size: 11px;
    margin-top: 10px;
}

.target-progress1 {
    font-size: 12px;
    color: rgb(107, 107, 107);
}


.refresh1 {
    color: rgb(50, 121, 23);
    font-size: 10px;
    cursor: pointer;
}

.pencil-nextupdate1 {
    font-size: 10px;
    color: #2F80ED;
    cursor: pointer;

}