.title-summary {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.group-mounthly1 {
    font-size: 11px;
    margin-left: -20px;
}


.title-february {
    font-size: 16px;
    font-weight: 700;
}

.small-title-february {
    font-size: 14px;
}

.search-submit {
    z-index: 0;
}


.progress {
    height: 20px;
    background: #e9e9ea;
    border-radius: 12px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar {
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}

.progress .progress-value {
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}

.pro-load {
    border-radius: 50px;
    background: #2F80ED;
    font-size: 15px;
    width: 45px;
    height: 45px;
    margin-left: -10px;
    margin-top: -10px;
}


.progress.blue:before {
    border-radius: 20px;
}


@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}