.width-HRVC {
    width: 30%;
    margin-top: 30px;
}

.z-HRVC {
    font-size: 32px;
    margin-top: 40px;
    color: #4A4543;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.em-login {
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.enter {
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.fm-log-mail {
    margin-left: 210px;
    margin-top: 30px;
}

.fm-log-password {
    margin-left: 210px;
    margin-top: 30px;
}

.fm-signin {
    margin-left: 210px;
    margin-top: 30px;
}

.checkbox-remember {
    margin-top: 30px;
    font-size: 12px;
}

.fm-box-sig {
    padding-left: 50px;
    margin-top: 30px;
    font-size: 12px;
}

.link-privacy {
    margin-top: 30px;
    font-size: 10px;
    padding-left: 230px;
    font-weight: 700;
}

.width-rof {
    width: 60%;
    margin-top: -350%;
    margin-left: 80px;
}

.backgroundbule {
    height: 700px;
}

.problem {
    color: #9c9a9a;
}

.TCG-Logo1 {
    width: 40px;
}

.rows-remember {
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

@media (max-width: 992px) {
    .fm-log-mail {
        margin-left: 20px;
        padding-right: 70px;
    }

    .fm-log-password {
        margin-left: 20px;
        padding-right: 70px;
    }

    .checkbox-remember {
        margin-left: 20px;
        font-size: 12px;
    }

    .problem {
        padding-left: 10px;

    }

    .width-HRVC {
        width: 70%;
    }

    .z-HRVC {
        font-size: 28px;
    }

}

@media (max-width: 768px) {

    .problem {
        font-size: 12px;

    }

    .fm-log-mail {
        margin-left: 30px;
        padding-right: 70px;
    }

    .fm-log-password {
        margin-left: 30px;
        padding-right: 70px;
    }

    .checkbox-remember {
        margin-left: 30px;
        font-size: 12px;
    }

}