.tags-input {
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    /* box-shadow: 2px 2px 5px #00000033;*/
    width: 100%;
    min-height: 60px;
    padding-top: 10px;
}

.tags-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-input li {
    display: inline-block;
    /* background-color: #D3EAFF; */
    background-color: #99d7fc;
    font-weight: 400;
    color: #000000;
    border-radius: 15px;
    /* padding: 5px 10px; */
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.tags-input input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    color: black;
}

.tags-input input[type="text"]:focus {
    outline: none;
}

.delete-button {
    /* background-color: #deebf7; */
    border-radius: 50%;
    border: black solid thin;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 13px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
}

.delete-tag {
    margin-top: -15px;
}