.Registration1 {
    font-size: 39px;
    font-weight: 500;
}

.Registration1-small1 {
    font-size: 18px;
    padding-left: 10px;
    font-weight: 400;
}

.moon-master {
    color: red;
    font-weight: 700;
}

.label-master {
    color: #838E9E;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}