.page-Questions {
    font-size: 39px;
}

.Dashboard-Master {
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.white-bb {
    background-color: white;
    border-radius: 20px;
}

.fon-bold {
    font-weight: 700;
    font-size: 23px;
}

.icon-big {
    font-size: 30px;
    cursor: pointer;
}

.detail-card {
    font-weight: 600;
}

.alert1-info1 {
    background-color: #E8F0F6;
}

.fon1-small {
    font-size: 15px;
    font-weight: 100;
}

.line-tag {
    text-decoration: none;
    color: white;
}

@media(max-width: 992px) {}

@media(max-width: 768px) {
    .page-Questions {
        font-size: 20px;
        padding-left: 20px;
    }

    .Dashboard-Master {
        font-size: 18px;
        padding-left: 10px;
    }

    .white-bb {
        margin-left: 10px;
    }
}