.team-sizesmall {
    font-size: 10px;
    font-weight: 500;
}

.bold-team {
    font-weight: 700;
    font-size: 17px;
}

.Company-select {
    font-size: 14px;
}

.team-create0 {
    padding-top: 20px;
}

@media(max-width: 992px) {
    .team-one {
        padding-left: 20px;
    }

    .team-create0 {
        padding-top: 10px;
    }
}

@media(max-width: 768px) {
    .team-one {
        padding-left: 20px;
    }

    .team-create0 {
        padding-top: 10px;
    }
}