@media(max-width:768px) {
    .kpi-branch {
        font-size: 10px;
    }
}

.tb {
    background-color: hwb(204 64% 0%);

}

.tb th,
.tb td {
    padding: 15px;
    border: solid 1px #000000;
}

.tb th {
    background-color: hwb(204 49% 2%);
}

.yearcalendar {
    font-weight: 700;
    font-size: 18px;
}

.circle {
    background: #efb068;
    clip-path: circle(40%);
    height: 6em;
    width: 6em;
    padding-top: 40px;
    padding-left: 20px;
    color: white;
    border-radius: 5px;
}

.KGI1 {
    background: #245fd6;
    clip-path: circle(50%);
    height: 7em;
    width: 7em;
    padding-top: 40px;
    padding-left: 30px;
    color: white;
}

.KGI2 {
    background: #245fd6;
    clip-path: circle(50%);
    height: 7em;
    width: 7em;
    padding-top: 40px;
    padding-left: 30px;
    color: white;
}

.KPI1 {
    background: #245fd6;
    clip-path: circle(50%);
    height: 7em;
    width: 7em;
    padding-top: 40px;
    padding-left: 35px;
    color: white;
}

.KPI2 {
    background: #245fd6;
    clip-path: circle(50%);
    height: 7em;
    width: 7em;
    padding-top: 30px;
    padding-left: 10px;
    color: white;
}

.border-line {
    text-decoration: none;
}

.update-KGIKPI {
    font-weight: 700;
    font-size: 25px;
}