.view-goback {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.alert-goback {
    background-color: rgb(241, 241, 241);
    border-radius: 0px;
    margin-top: 20px;
}

.imageView {
    width: 100%;
    border-radius: 100%;
    background: #FFFFFF;
    border: 2px solid transparent;
}

.share-pointer {
    cursor: pointer;
    color: rgb(45, 111, 243);
    text-align: end;
}

.box-shareprofile {
    padding-left: 40%;
}

.name-Tadawoki {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.Director-view {
    font-size: 14px;
    color: black;
}

.view-solid {
    border-left: black solid thin;
    margin-left: 5px;
}

.bd {
    width: 10%;
}

.crd-background {
    background-color: #f0f6fa;
    height: 550px;
}

.alert-personal-information {
    border: none;
    margin-left: -30px;
    background-color: white;
    width: 54rem;
    height: 550px;
}

.emplo-infor {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-top: 30px;
}

.view-font-bold {
    font-weight: 500;
    color: black;
}

.view-font-bold1 {
    font-weight: 500;
    color: black;
    padding-top: 40px;
    width: 100%;
}

.show-in-solid {
    border-left: lightgray solid thin;
    margin-top: 60px;
    padding-left: 10px;
    height: 460px;
}

.view-cursor {
    cursor: pointer;
    font-size: 12px;
}

.vertical0 {
    border-right: 3px solid #e7e7e7;
    margin-left: -90px;
}

.briefcase-work {
    margin-top: -500px;
}

.briefcase-Attachments {
    margin-top: -378px;
}

.salary {
    margin-top: -312px;
}

.salary-bold {
    font-weight: 500;
    color: black;
    font-size: 14px;
}

.danger-details {
    margin-top: -312px;
    padding-top: 20px;
}

.detail-salary {
    margin-top: -310px;
}

.in-details {
    margin-top: -310px;
    font-weight: 600;
    font-size: 12px;
    color: rgb(30, 116, 237);
}




/* .form-pdf {} */

/* .social-facebook {
    cursor: pointer;
} */

/* .social-facebook a:hover {
    cursor: pointer;
    color: rgb(51, 125, 252)
} */

.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(54, 162, 235, 1);
}

.chartMenu p {
    padding: 10px;
    font-size: 20px;
}

.chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
}