main>.container,
main>.container-fluid {
    padding: 70px 15px 20px;
}




@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* ExtraLight - 200 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Light - 300 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular - 400 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Medium - 500 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold - 600 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold - 700 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold - 800 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Black - 900 */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/static/Inter_24pt-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.3px;
    background-color: #F0F2F4;
}

/* body {
    font-family: "SF Pro Display", sans-serif;
    background-color: #F0F2F4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
} */

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.not-valid {
    border-color: rgba(252, 165, 165, 1) !important;
    box-shadow: 0 0 0 4px rgba(254, 226, 226, 1);
}

.footer>.container,
.footer>.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form>button.logout:focus,
.navbar form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form>button.logout:focus {
    outline: none;
}

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item>a {
    text-decoration: none;
}