.alert-white-5 {
    background-color: #f7f7f7;
    border-radius: 10px;
}

.secondary-setting {
    text-transform: uppercase;
    font-size: 10px;
}

.setting-fontsize {
    font-size: 11px;
}

.Image-Description {
    background-color: #FFFFFF;
    height: 20px;
    border-radius: 50%;
    width: 20px;
}

.number-rounded {
    border: 1px solid rgb(58, 158, 230);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.bg-setting {
    background-color: rgb(222 227 229);
}

.company-setting {
    border-style: dashed;
    color: gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
}


.plus-circle-logo {
    margin-top: 20px;
    color: gray;
}

.building1 {
    margin-left: 5px;
    font-size: 10px;
}

.building2 {
    font-size: 14px;
    margin-left: 8px;
}

.setting-upload {
    position: relative;
    width: 20px;
    height: 20px;
    border-style: dashed;
    color: #757575;
    border-radius: 50%;
    margin-top: 2px;
}

.setting-upload2 {
    width: 30px;
    height: 30px;
    border-style: dashed;
    color: #757575;
    border-radius: 50%;
    margin-left: -70px;
}



.dashedshare {
    border-style: dashed;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #757575;
    margin-top: 2px;
    cursor: pointer;
}

.dashedshare2 {
    border-style: dashed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #757575;
}

.share-alt-setting {
    padding-left: 3px;
    font-size: 10px;
}

.share-alt-setting2 {
    font-size: 14px;
    margin-left: 8px;
}

.dasheduser {
    border-style: dashed;
    color: #757575;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.company-image2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(51, 123, 175);
}

.image-izmir {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.user0m {
    padding-left: 4px;
    font-size: 10px;
}

.dasheduser-upload {
    position: relative;
    width: 20px;
    height: 20px;
    border-style: dashed;
    color: #757575;
    border-radius: 50%;
    margin-top: 2px;
}


.circle5 {
    margin-top: -24px;
    position: absolute;
    padding-left: 15px;
    cursor: pointer;
    color: #575454;
}


.dialog-allshow {
    margin-top: 430px;
    margin-left: 500px;
}

.dialog-allshow1 {
    margin-top: 210px;
    margin-left: 500px;
}

.dialog-allshow2 {
    margin-top: 210px;
    margin-left: 500px;
}

.Resolve {
    color: hsl(203, 81%, 61%);
    cursor: pointer;
    margin-top: 30px;
    font-size: 12px;
}

.header-company {
    background-color: #eeeeee;
}

.Resolve-c {
    width: 30px;
    height: 30px;
    border-style: dashed;
    border-radius: 50%;
    margin-top: 20px;
    color: #757575;
}

.card-company {
    margin-top: -5px;
}

.company-c {
    font-size: 12px;
}

.company-image3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(54 160 236);

}

.submit-search {
    margin-left: -220px;
    margin-top: 6px;
}

.Employees-0 {
    font-weight: 700;
}